<%= link_to(" << Powrót do strony głównej", root_path, :class => 'back-link') %>
<div class="subjects index">
  <h2>Posty<h2>

  <h5><%=link_to("Dodaj nowy post", new_post_path, :class => 'action new') %><h5>

  <table class='listing' summary="Subject list">
    <tr class="header">
      <th>Tytuł postu</th>
      <th>Zawartość</th>
    </tr>
    <% @posts.each do |post| %>
    <tr>
      <td><%= image_tag post.image.url(:thumb) %> </td>
      <td><%= post.title %> </td>
      <td><%= post.content %> </td>
      <td class="actions">
        <%= link_to("Pokaż", post_path(post), :class => 'action show') %>
        <%= link_to("Edytuj", edit_post_path(post), :class => 'action edit') %>
        <%= link_to("Usuń", post, method: :delete, data: { confirm: 'Are you sure?' }) %>
      </td>
    </tr>
    <%end%>
  </table>
</div>
