<%= link_to(" << Powrót do listy", posts_path, :class => 'back-link') %>

<div class="subjects new">
  <h2>Utwórz postu<h2>

  <%= form_for @post, :url => posts_path  do |f| %>

  <table summary="Subject form fields">
    <tr>
      <th>Tytuł postu</th>
      <th><%= f.text_field(:title)%></th>
    </tr>
    <tr>
      <th>Treść</th>
      <th><%= f.text_field(:content)%></th>
    </tr>
    <tr>
  </table>
  <div class="form-buttons">
    <%= f.submit("Potwierdź") %>
  </div>
</div>
<% end %>
